.vue-resize-container-section {
  overflow: auto;

  &,
  & > .vue-resize-container-section__content {
    height: 100%;
    width: 100%;
  }

  & > .vue-resize-container-section__content > * {
    height: 100%;
    width: 100%;
  }
}
