:root {
  --vue-rc-resizer-color: #b8b8b8;
  --vue-rc-resizer-color-hover: #c8c8c8;
  --vue-rc-resizer-size: 8px;
  --vue-rc-resizer-size-hover: 8px;
  --vue-rc-resizer-transition-duration: 0.2s;

  --vue-rc-buttons-offset: 50%;
  --vue-rc-buttons-translate: -50%;

  --vue-rc-button-border-radius: 4px;
  --vue-rc-button-icon-size: 1.2rem;
}
