/*@import "./main.css";*/
:root {
  --resizer-color: theme("colors.primary.400");
  --resizer-color-hover: theme("colors.primary.600");
  --resizer-size: 6px;
  --resizer-size-hover: 6px;
  --resizer-transition-duration: 0.1s;
}

.vue-resize-container {
  overflow: hidden;
  width: 100%;
  height: 100%;

  &, &::before, &::after, & *, & *::before, & *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  &__container {
    width: 100%;
    height: 100%;
    display: flex;
  }

  &__section {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  &__resizer {
    position: relative;
    z-index: 1;
    background-color: var(--resizer-color);
    flex: 0 0 auto;
  }

  &.is-resizing {
    user-select: none;
  }
}

/*HORIZONTAL FROM LEFT TO RIGHT*/
.vue-resize-container[data-direction="horizontal"] {
  .vue-resize-container__container {
    flex-direction: row;
  }

  .vue-resize-container__resizer {
    width: var(--resizer-size);
    height: 100%;
  }

  .vue-resize-container-resizer {
    &__inner {
      cursor: col-resize;
      transition-property: width;
    }

    &:hover {
      .vue-resize-container-resizer__inner {
        width: var(--resizer-size-hover);
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  &[data-origin="alpha"] {
    .vue-resize-container-buttons {
      top: 50px;
      left: 100%;
      transition: left var(--resizer-transition-duration);
      flex-direction: column;

      .vue-resize-container-buttons__button {
        &[data-action="expand"] {
          @apply rounded-tr;
        }

        &[data-action="collapse"] {
          @apply rounded-br;
        }
      }
    }
  }

  &.is-expanded {
    &[data-origin="alpha"] {
      .vue-resize-container-buttons {
        left: unset;
        right: 100%;
        transition: right var(--resizer-transition-duration);

        .vue-resize-container-buttons__button {

          &[data-action="expand"] {
            @apply rounded-tl rounded-tr-none;

            svg {
              @apply rotate-180;
            }
          }

          &[data-action="collapse"] {
            @apply rounded-bl rounded-br-none;

            svg {
              @apply rotate-180;
            }
          }
        }
      }
    }

    /*TODO dodelat!*/

    &[data-origin="beta"] {
      .vue-resize-container-buttons {
      }
    }
  }

  /*.app-resize-container-resizer:hover + .app-resize-container-buttons {*/
  /*  right: min(*/
  /*    calc((var(--resizer-size-hover) - var(--resizer-size)) / -2),*/
  /*    0px*/
  /*  );*/
  /*}*/
}

/* VERTICAL FROM TOP TO BOTTOM */
.vue-resize-container[data-direction="vertical"] {
  .vue-resize-container__container {
    flex-direction: column;
  }

  .vue-resize-container__resizer {
    height: var(--resizer-size);
    width: 100%;
  }

  .vue-resize-container-resizer {
    &__inner {
      cursor: row-resize;
      transition-property: height;
    }

    &:hover {
      .vue-resize-container-resizer__inner {
        height: var(--resizer-size-hover);
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

.vue-resize-container-section {
  width: 100%;
  height: 100%;
  overflow: auto;

  & > * {
    height: 100%;
    width: 100%;
  }
}

.vue-resize-container-resizer {
  z-index: 1;

  &,
  .vue-resize-container-resizer__inner {
    height: 100%;
    width: 100%;
  }

  .vue-resize-container-resizer__inner {
    position: absolute;
    background-color: transparent;
    transition-duration: var(--resizer-transition-duration);
    transition-timing-function: linear;
    top: 0;
    left: 0;
    bottom: 0;
  }

  &:hover {
    background-color: var(--resizer-color-hover);

    .vue-resize-container-resizer__inner {
      width: 100%;
      height: 100%;
      background-color: inherit;
    }
  }
}

.vue-resize-container-buttons {
  background-color: transparent;
  position: absolute;
  display: flex;

  &__splitter {
    flex: 0 0 0;
  }

  &__button {
    cursor: pointer;
    padding: 5px 3px;
    color: #FFFFFF;
    background-color: var(--resizer-color);

    svg {
      width: 1rem;
      height: 1rem;
    }

    &:hover {
      background-color: var(--resizer-color-hover);
    }
  }
}
